<!-- Content Wrapper. Contains page content -->
<div class='content-wrapper'>
  <!-- Content Header (Page header) -->
  <section class='content-header'>
    <div class='container-fluid'>
      <div class='row mb-2'>
        <div class='col-sm-6'>
          <h1>View all cohorts</h1>
        </div>
        <div class='col-sm-6'>
          <ol class='breadcrumb float-sm-right'>
            <li class='breadcrumb-item'><a href='#'>Home</a></li>
            <li class='breadcrumb-item active'>All cohorts</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class='content'>

    <!-- Default box -->
    <div class='card'>
      {{! <div class="card-header">
          <button type="button" class="btn btn-secondary">EMBA 2020-22</button>
        </div>
        <div class="card-header">
          <button type="button" class="btn btn-secondary">EMBA 2021-23</button>          
        </div>
        <div class="card-header">
          <button type="button" class="btn btn-secondary">EMBA 2022-23</button>          
        </div> }}
      {{#each gallery.paintings as |painting|}}
    {{> painting-details}}
    {{/each}}
    </div>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->