<div>Welcome to your program area</div>
<h1>My Cohorts</h1>
<button class="btn">Cohort 1</button>
<button class="btn">Cohort 2</button>
<button class="btn">Cohort 3</button>
<button class="btn-lg">Add a new cohort</button>